<div
  class="offcanvas-container"
  id="mobile-menu"
  [ngClass]="{ active: offcanvasService.offcanvasNavigationOpen | async }"
>
  <a
    *ngIf="user"
    class="account-link"
    routerLink="/account/profile"
    (click)="onNavigationClick()"
  >
    <div class="user-info">
      <span class="text-sm text-white opacity-60"
        >Ha iniciado sesión como:</span
      >
      <h6 class="user-name">
        {{ user.lastName }} {{ user.firstName
        }}<span *ngIf="user.roles.admin"> (Admin)</span>
      </h6>
    </div>
  </a>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li *ngIf="!user" routerLinkActive="active">
        <span>
          <a routerLink="/register-login" (click)="onNavigationClick()">
            <img src="../../../img/login-color.png" style="width: 18px" /><span
              >&nbsp;Iniciar sesión
            </span>
          </a>
        </span>
      </li>
      <li *ngIf="user" routerLinkActive="active">
        <span>
          <a routerLink="/account/profile" (click)="onNavigationClick()">
            <img src="../../../img/profile.png" style="width: 18px" /><span
              >&nbsp;Mi perfil
            </span>
          </a>
        </span>
      </li>

      <li routerLinkActive="active">
        <span>
          <a routerLink="/inicio" (click)="onNavigationClick()">
            <img src="../../../img/home.png" style="width: 18px" /><span
              >&nbsp;Inicio
            </span>
          </a>
        </span>
      </li>

      <li routerLinkActive="active" class="nav submenu">
        <span>
          <a routerLink="/productos" (click)="onNavigationClick()">
            <img src="../../../img/product.png" style="width: 18px" /><span
              >&nbsp;Productos
            </span>
          </a>
        </span>
      </li>

      <!-- Categories -->
      <li
        routerLinkActive="active"
        class="nav submenu"
        *ngFor="let category of categories"
      >
        <a
          routerLink="/productos"
          [queryParams]="{ categoria: category }"
          (click)="onNavigationClick()"
          style="font-size: small; text-align: end"
        >
          <span>{{ category }}</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <span>
          <a routerLink="/carrito" (click)="onNavigationClick()">
            <img src="../../../img/cart.png" style="width: 18px" /><span
              >&nbsp;Carrito
            </span>
          </a>
        </span>
      </li>

      <li
        *ngIf="user && user.roles.admin"
        routerLinkActive="active"
        style="background-color: rgb(2, 175, 2)"
      >
        <a routerLink="/admin/add" href="" (click)="onNavigationClick()">
          <img src="../../../img/add-product.png" style="width: 18px" /><span
            style="color: white"
            >&nbsp;Agregar producto
          </span>
        </a>
      </li>

      <li
        *ngIf="user && user.roles.admin"
        routerLinkActive="active"
        style="background-color: rgb(2, 175, 2)"
      >
        <a routerLink="admin/categories" href="" (click)="onNavigationClick()">
          <img
            src="../../../img/edit-categories.png"
            style="width: 18px"
          /><span style="color: white">&nbsp;Editar categorías </span>
        </a>
      </li>

      <li
        *ngIf="user && user.roles.admin"
        routerLinkActive="active"
        style="background-color: rgb(2, 175, 2)"
      >
        <span>
          <a routerLink="/account/orders" href="" (click)="onNavigationClick()">
            <img src="../../../img/order.png" style="width: 18px" /><span
              style="color: white"
              >&nbsp;Mis ordenes
            </span>
          </a>
        </span>
      </li>

      <li
        *ngIf="user && user.roles.admin"
        routerLinkActive="active"
        style="background-color: rgb(2, 175, 2)"
      >
        <span>
          <a
            routerLink="/account/shipping"
            href=""
            (click)="onNavigationClick()"
          >
            <img
              src="../../../img/shipping-color.png"
              style="width: 18px"
            /><span style="color: white">&nbsp;Envío</span>
          </a>
        </span>
      </li>

      <li *ngIf="user">
        <a href="" (click)="onLogout($event)">
          <img src="../../../img/logout-color.png" style="width: 18px" /><span
            >&nbsp;Cerrar sesión</span
          >
        </a>
      </li>
    </ul>
  </nav>
</div>
