// Progress bars
@import "../../../scss/helpers/_variables.scss";

//
// Progress Bars
// --------------------------------------------------

.progress {
  height: auto;
  border-radius: ceil($progress-height / 2);
  background-color: darken($gray-lighter, 2%);
  font: {
    size: $font-size-xs;
    weight: 500;
  }
  line-height: $progress-height;
}
.progress-bar {
  height: $progress-height;
  background-color: $progress-bg;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-status {
  select {
    width: auto;
    height: auto;
  }
}

.warning-option {
  background-color: yellow;
}

.danger-option {
  background-color: red;
}

.ok-option {
  background-color: greenyellow;
}

@import '~scss/helpers/variables';
@import '~scss/helpers/mixins';

.checkout-footer {
  display: table;
  width: 100%;
  margin-top: floor($grid-vertical-step * 1.2);
  padding: {
    top: 5px;
    bottom: 5px;
  }
  border: 1px solid $border-color;
  border-radius: $border-radius-lg;
  table-layout: fixed;

  > .column {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    &:last-child { text-align: right; }
    &:first-child { text-align: left; }
  }

  .btn { margin: 0; }
}
