<app-page-title
  title="Ver orden"
  [children]="[{ title: 'Ver orden' }]"
></app-page-title>

<div class="container">
  <div>
    <div>
      <h5 class="margin-bottom-1x">Orden #{{ order.number }}</h5>
      <table class="table table-hover margin-bottom-none">
        <thead>
          <tr>
            <th>Orden #</th>
            <th>Fecha de compra</th>
            <th>Estado</th>
            <th>Subtotal</th>
            <th>Envío</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a
                class="text-medium navi-link"
                data-toggle="modal"
                data-target="#orderDetails"
                >{{ order.number }}</a
              >
            </td>
            <td>{{ order.date | date: "medium" }}</td>
            <td>
              <span class="text-info"
                ><div class="form-group select-status">
                  <select
                    [ngClass]="{
                      'warning-option':
                        order.status == 'Revisando' ||
                        order.status == 'Preparando' ||
                        order.status == 'Enviado',
                      'danger-option':
                        order.status == 'Cancelado' ||
                        order.status == 'Devuelto',
                      'ok-option':
                        order.status == 'Pagado' || order.status == 'Entregado'
                    }"
                    class="form-control"
                    [value]="order.status"
                    (change)="onSelectStatus($event)"
                  >
                    <option class="warning-option" value="Revisando">
                      Revisando
                    </option>
                    <option class="ok-option" value="Pagado">Pagado</option>
                    <option class="warning-option" value="Preparando">
                      Preparando
                    </option>
                    <option class="warning-option" value="Enviado">
                      Enviado
                    </option>
                    <option class="ok-option" value="Entregado">
                      Entregado
                    </option>
                    <option class="danger-option" value="Cancelado">
                      Cancelado
                    </option>
                    <option class="danger-option" value="Devuelto">
                      Devuelto
                    </option>
                  </select>
                </div></span
              >
            </td>
            <td>
              <span class="text-medium">{{ order.total | currency }}</span>
            </td>
            <td>
              <span class="text-medium">{{
                order.shippingCost | currency
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <hr class="padding-bottom-1x" />
      <h5 class="margin-bottom-1x">Cliente</h5>
      <table class="table table-hover margin-bottom-none">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Dirección</th>
            <th>Ciudad / Código postal</th>
            <th *ngIf="order.customer.email != undefined">E-mail</th>
            <th *ngIf="order.customer.phone != undefined">Telefono</th>
            <th *ngIf="order.customer.company != undefined">Compañia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ order.customer.lastname }} {{ order.customer.firstname }}
            </td>
            <td>{{ order.customer.address1 }} {{ order.customer.address2 }}</td>
            <td>
              {{ order.customer.city }}, {{ order.customer.country }} /
              {{ order.customer.zip }}
            </td>
            <td *ngIf="order.customer.email != undefined">
              <a
                class="hidden-md-down"
                [href]="'mailto:' + order.customer.email"
              >
                {{ order.customer.email }}</a
              >
            </td>
            <td *ngIf="order.customer.phone != undefined">
              <a class="hidden-md-down" [href]="'tel:' + order.customer.phone">
                {{ order.customer.phone }}</a
              >
            </td>
            <!-- <td *ngIf="order.customer.company != undefined">
              {{ order.customer.company }}
            </td> -->
          </tr>
        </tbody>
      </table>

      <hr class="padding-bottom-1x" />
      <h5 class="margin-bottom-1x">Producto(s)</h5>
      <table class="table table-hover margin-bottom-none">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of order.items"
            (click)="goProduct(item.product.id)"
            style="cursor: pointer"
          >
            <td>
              <img [src]="item.product.imageURLs[0]" style="width: 50px" />
            </td>
            <td>
              {{ item.product.name }}
            </td>
            <td>
              {{ item.product.description }}
            </td>
            <td>
              {{ item.amount }}
            </td>
            <td>
              <span class="text-medium">{{
                item.product.price | currency
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="checkout-footer">
  <div class="column">
    <button class="btn btn-outline-secondary" (click)="goBack()">
      <i class="icon-arrow-left"></i>
      <span class="hidden-xs-down">&nbsp;Volver</span>
    </button>
  </div>
  <div class="column"></div>
</div>
