<app-page-title title="Comprar" [children]="[{title: 'Comprar'}]"></app-page-title>


<div class="container padding-bottom-3x mb-2">
  <div class="card text-center">
    <div class="card-body padding-top-2x">
      <h3 class="card-title">Gracias por su pedido!</h3>
      <p class="card-text">Su pedido ha sido realizado y será procesado tan pronto como sea posible.</p>
      <p class="card-text">Usted recibirá un correo electrónico en breve con la confirmación de su pedido.
      </p>
      <div class="padding-top-1x padding-bottom-1x">
        <a class="btn btn-outline-secondary" routerLink="/home">Volver de compras</a>
      </div>
    </div>
  </div>
</div>
