@import "~scss/helpers/variables";
@import "~scss/helpers/mixins";

.edit-logo {
  color: white;

  input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
  }
}

.image-wrapper {
  width: 100%;
  text-align: center;

  img {
    cursor: pointer;
  }

  &.loading {
    min-height: 150px;
    background: url("../../../img/loading.gif") center center no-repeat;
  }
}
