<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header>
  <div class="navbar">
    <div style="width: 100%; text-align: center;">
      <img [src]="logoImage" style="width: 150px;" alt="logo"/>
    </div>

    <div style="width: 100%; text-align: center;">
      <div class="btn btn-primary edit-logo" style="background-color: rgb(2, 175, 2);">
        <label for="logo">Cambiar logo</label>
        <input (input)="updateLogo($event)" type="file" id="logo" />
      </div>
    </div>

    <div class="site-branding">
      <div class="inner">
        <!-- Off-Canvas Toggle (#shop-categories)-->
        <!-- <a class="offcanvas-toggle cats-toggle" href="" data-toggle="offcanvas"></a> -->
        <!-- Off-Canvas Toggle (#mobile-menu)-->
        <a class="offcanvas-toggle" href="" (click)="onMenuToggle($event)"></a>
      </div>
    </div>
  </div>

  <div class="navbar navbar-sticky" style="border-bottom: 1px solid #e1e7ec;">
    <app-search (onHideSearch)="showSearch = false" [showSearch]="showSearch" class="site-search-wrapper"></app-search>
    
    <app-navigation-main></app-navigation-main>
  
    <!-- Toolbar-->
    <div class="toolbar">
      <div class="inner">
        <div class="tools">
          <div class="search">
            <i (click)="showSearch = true" class="icon-search"></i>
          </div>
          <div class="account">
            <a *ngIf="!user; else whenLoggedIn" routerLink="/register-login"></a>
  
            <ng-template #whenLoggedIn>
              <a routerLink="/account/profile"></a>
            </ng-template>
  
            <i class="icon-head"></i>
            <ul *ngIf="user" class="toolbar-dropdown">
              <li class="sub-menu-user">
                <div class="user-info">
                  <h6 class="user-name">{{ user.lastName }} {{ user.firstName }}
                    <span *ngIf="user.roles.admin"> (Admin)</span>
                  </h6>
                </div>
              </li>
              <li>
                <a routerLink="/account/profile" href="">Mi perfil</a>
              </li>
              <li>
                <a routerLink="/account/orders" href="">Lista de ordenes</a>
              </li>
              <li class="sub-menu-separator"></li>
              <li>
                <a href="" (click)="onLogOut($event)">
                  <i class="icon-unlock"></i>Cerrar sesión</a>
              </li>
            </ul>
          </div>
  
          <app-toolbar-cart></app-toolbar-cart>
  
        </div>
      </div>
    </div>
  </div>
</header>
