<app-page-title
  title="Editar Producto"
  [children]="[{ title: 'Editar Producto' }]"
  *ngIf="mode == 'edit'"
></app-page-title>

<app-page-title
  title="Agregar Producto"
  [children]="[{ title: 'Agregar Producto' }]"
  *ngIf="mode == 'add'"
></app-page-title>

<div class="container">
  <div class="row mb-5">
    <div class="col-lg-8">
      <h2 *ngIf="mode == 'edit'" class="margin-bottom-1x">Editar Producto</h2>
      <h2 *ngIf="mode == 'add'" class="margin-bottom-1x">Agregar Producto</h2>

      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-2 col-form-label" for="id">Id</label>
          <div class="col-10">
            <input
              class="form-control form-control-square form-control-sm"
              formControlName="id"
              type="number"
              id="id"
              value="0"
              disabled
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="name"
            >Nombre del producto</label
          >
          <div class="col-10">
            <input
              class="form-control form-control-square form-control-sm"
              formControlName="name"
              type="text"
              id="name"
              value=""
            />
            <div
              *ngIf="
                !productForm.get('name').valid &&
                productForm.get('name').touched
              "
              class="form-control-feedback"
            >
              Introduzca un nombre para su producto.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="date-input"
            >Fecha de creación</label
          >
          <div class="col-10">
            <input
              class="form-control"
              type="date"
              id="date-input"
              formControlName="date"
              value=""
            />
            <div
              *ngIf="
                !productForm.get('date').valid &&
                productForm.get('date').touched
              "
              class="form-control-feedback"
            >
              Introduzca una fecha para su producto.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="categories"
            >Categorías</label
          >
          <div class="col-10">
            <ng-multiselect-dropdown
              id="categories"
              [formControl]="productForm.controls['categories']"
              [placeholder]="'Elija almenos una categoría'"
              [settings]="dropdownSettingsCategories"
              [data]="dropdownListCategories"
              [(ngModel)]="selectedItemsCategories"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="description"
            >Descripción</label
          >
          <div class="col-10">
            <textarea
              class="form-control form-control-square form-control-sm"
              formControlName="description"
              id="description"
              rows="5"
            >
            </textarea>
            <div
              *ngIf="
                !productForm.get('description').valid &&
                productForm.get('description').touched
              "
              class="form-control-feedback"
            >
              Introduzca una descripción.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="photos">Imagen</label>
          <div class="col-10">
            <input
              class=""
              type="file"
              id="photos"
              #photos
              [disabled]="mode == 'edit'"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="price">Precio actual</label>
          <div class="col-10">
            <input
              class="form-control form-control-square form-control-sm"
              formControlName="price"
              type="number"
              id="price"
              value=""
            />
            <div
              *ngIf="
                !productForm.get('price').valid &&
                productForm.get('price').touched
              "
              class="form-control-feedback"
            >
              Introduzca un precio para su producto.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="price-normal"
            >Precio original</label
          >
          <div class="col-10">
            <input
              class="form-control form-control-square form-control-sm"
              formControlName="priceNormal"
              type="number"
              id="price-normal"
              value="0"
            />
            <div
              *ngIf="
                !productForm.get('priceNormal').valid &&
                productForm.get('priceNormal').touched
              "
              class="form-control-feedback"
            >
              Introduzca un precio base para su producto.
            </div>
          </div>
        </div>

        <div
          *ngIf="fileUploadService.percentage$ | async as pct"
          class="progress margin-bottom-1x"
        >
          <div
            class="progress-bar"
            role="progressbar"
            [style.width.%]="pct"
            aria-valuenow="pct | number: '1.0-0'"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ pct | number: "1.0-0" }}%
          </div>
        </div>

        <div class="row mb-5">
          <div class="col text-right">
            <button
              *ngIf="mode === 'edit'"
              class="btn btn-danger"
              type="button"
              (click)="onDelete()"
            >
              Eliminar producto
            </button>
            <button
              [disabled]="productForm.invalid"
              class="btn btn-primary"
              style="background-color: rgb(2, 175, 2);"
              type="submit"
            >
              Guardar cambios
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
