<!-- Topbar-->
<div class="topbar">
  <div class="topbar-column">
    <a
      class="hidden-md-down"
      [href]="'mailto:' + correo"
      *ngIf="correo != '' && correo != null && correo != undefined"
    >
      <i class="icon-mail"></i>&nbsp; {{ correo }}</a
    >
    <a
      class="hidden-md-down"
      [href]="'tel:' + telefono"
      *ngIf="telefono != '' && telefono != null && telefono != undefined"
    >
      <i class="icon-bell"></i>&nbsp; {{ telefono }}</a
    >
    <a
      class="social-button sb-facebook shape-none sb-dark"
      [href]="facebook"
      target="_blank"
      *ngIf="facebook != '' && facebook != null && facebook != undefined"
    >
      <i class="socicon-facebook"></i>
    </a>
    <a
      class="social-button sb-twitter shape-none sb-dark"
      [href]="twitter"
      target="_blank"
      *ngIf="twitter != '' && twitter != null && twitter != undefined"
    >
      <i class="socicon-twitter"></i>
    </a>
    <a
      class="social-button sb-instagram shape-none sb-dark"
      [href]="instagram"
      target="_blank"
      *ngIf="instagram != '' && instagram != null && instagram != undefined"
    >
      <i class="socicon-instagram"></i>
    </a>
    <a
      class="social-button sb-instagram shape-none sb-dark"
      [href]="linkedin"
      target="_blank"
      *ngIf="linkedin != '' && linkedin != null && linkedin != undefined"
    >
      <i class="socicon-linkedin"></i>
    </a>
    <a
      class="social-button sb-pinterest shape-none sb-dark"
      [href]="wsp"
      target="_blank"
      *ngIf="wsp != '' && wsp != null && wsp != undefined"
    >
      <i class="socicon-whatsapp"></i>
    </a>
  </div>

  <a routerLink="/register-login" title="Iniciar sesión" *ngIf="!user">
    <img
      src="../../../img/login.png"
      style="width: 25px; float: right; cursor: pointer"
    />
  </a>
  <a href="" (click)="onLogout($event)" title="Cerrar sesión" *ngIf="user">
    <img
      src="../../../img/logout.png"
      style="width: 25px; float: right; cursor: pointer"
    />
  </a>

  <div style="cursor: pointer">
    <a
      class="edit-button"
      (click)="showContact()"
      *ngIf="user && user.roles.admin"
    >
      <i><label style="cursor: pointer">EDITAR</label></i>
    </a>
  </div>
</div>
