<!-- Topbar-->
<div class="topbar">
  <div class="topbar-column">
    <a
      class="hidden-md-down"
      [href]="'mailto:' + correo"
      *ngIf="correo != '' && correo != null && correo != undefined"
    >
      <i class="icon-mail"></i>&nbsp; {{ correo }}</a
    >
    <a
      class="hidden-md-down"
      [href]="'tel:' + telefono"
      *ngIf="telefono != '' && telefono != null && telefono != undefined"
    >
      <i class="icon-bell"></i>&nbsp; {{ telefono }}</a
    >
    <a
      class="social-button sb-facebook shape-none sb-dark"
      [href]="facebook"
      target="_blank"
      *ngIf="facebook != '' && facebook != null && facebook != undefined"
    >
      <i class="socicon-facebook"></i>
    </a>
    <a
      class="social-button sb-twitter shape-none sb-dark"
      [href]="twitter"
      target="_blank"
      *ngIf="twitter != '' && twitter != null && twitter != undefined"
    >
      <i class="socicon-twitter"></i>
    </a>
    <a
      class="social-button sb-instagram shape-none sb-dark"
      [href]="instagram"
      target="_blank"
      *ngIf="instagram != '' && instagram != null && instagram != undefined"
    >
      <i class="socicon-instagram"></i>
    </a>
    <a
      class="social-button sb-instagram shape-none sb-dark"
      [href]="linkedin"
      target="_blank"
      *ngIf="linkedin != '' && linkedin != null && linkedin != undefined"
    >
      <i class="socicon-linkedin"></i>
    </a>
    <a
      class="social-button sb-pinterest shape-none sb-dark"
      [href]="wsp"
      target="_blank"
      *ngIf="wsp != '' && wsp != null && wsp != undefined"
    >
      <i class="socicon-whatsapp"></i>
    </a>

    <button
      class="btn btn-primary scale-up delay-1"
      style="background-color: rgb(2, 175, 2);"
      (click)="showDialog()"
      *ngIf="user && user.roles.admin"
    >
      <label>Editar</label>
    </button>

    <p-dialog
      [(visible)]="display"
      [modal]="false"
      [responsive]="true"
      [minY]="70"
      [baseZIndex]="10000"
    >
      <div class="form-group row">
        <label class="col-12 col-form-label" for="email">Email</label>
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="email"
            id="email"
            [(ngModel)]="correo"
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="telefono">Telefono</label>
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="text"
            id="telefono"
            [(ngModel)]="telefono"
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="facebook"
          >Link Facebook</label
        >
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="text"
            id="facebook"
            placeholder="Pegue aquí el link de su perfil de facebook"
            [(ngModel)]="facebook"
          />
        </div>
        <a class="get-link" href="https://www.facebook.com" target="_blank">Obtener link</a>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="twitter">Link Twitter</label>
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="text"
            id="twitter"
            placeholder="Pegue aquí el link de su perfil de twitter"
            [(ngModel)]="twitter"
          />
        </div>
        <a class="get-link" href="https://www.twitter.com" target="_blank">Obtener link</a>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="instagram"
          >Link Instagram</label
        >
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="text"
            id="instagram"
            placeholder="Pegue aquí el link de su perfil de instagram"
            [(ngModel)]="instagram"
          />
        </div>
        <a class="get-link" href="https://www.instagram.com" target="_blank">Obtener link</a>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="linkedin"
          >Link Linkedin</label
        >
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="text"
            id="linkedin"
            placeholder="Pegue aquí el link de su perfil de linkedin"
            [(ngModel)]="linkedin"
          />
        </div>
        <a class="get-link" href="https://www.linkedin.com" target="_blank">Obtener link</a>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="wsp">Link Whatsapp</label>
        <div class="col-10">
          <input
            class="form-control form-control-square form-control-sm"
            type="text"
            id="wsp"
            placeholder="Pegue aquí el link para redirigir a whatsapp"
            [(ngModel)]="wsp"
          />
        </div>
        <a class="get-link" href="https://crear.wa.link/" target="_blank">Obtener link</a>
      </div>

      <p-footer style="float: right">
        <button class="btn btn-primary scale-up delay-1" (click)="saveDialog()">
          <label>Guardar</label>
        </button>
        <button class="btn btn-primary scale-up delay-1" (click)="cancelDialog()">
          <label>Cancelar</label>
        </button>
      </p-footer>
    </p-dialog>
  </div>
</div>
