  <!-- Topbar-->
  <div class="topbar">
    <div class="topbar-column">
      <a class="hidden-md-down" [href]="'mailto:' + correo">
        <i class="icon-mail"></i>&nbsp; {{ correo }}</a>
      <a class="hidden-md-down" href="tel:+41792414544">
        <i class="icon-bell"></i>&nbsp; {{ telefono }}</a>
      <a class="social-button sb-facebook shape-none sb-dark" [href]="facebook" target="_blank">
        <i class="socicon-facebook"></i>
      </a>
      <a class="social-button sb-twitter shape-none sb-dark" [href]="twitter" target="_blank">
        <i class="socicon-twitter"></i>
      </a>
      <a class="social-button sb-instagram shape-none sb-dark" [href]="instagram" target="_blank">
        <i class="socicon-instagram"></i>
      </a>
      <a class="social-button sb-instagram shape-none sb-dark" [href]="linkedin" target="_blank">
        <i class="socicon-linkedin"></i>
      </a>
      <a class="social-button sb-pinterest shape-none sb-dark" [href]="wsp" target="_blank">
        <i class="socicon-whatsapp"></i>
      </a>
    </div>
  </div>
